<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OpenBurn/OpenBurn/src/controller/CMDLineInterface.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_STDIN_FILE" value="D:\Eclipse Java Workspace\OpenBurn\OpenBurn\input.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="controller.CMDLineInterface"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OpenBurn"/>
</launchConfiguration>
